# Environment management
.python-version
.env
.envrc

# Data directories
images_train/
images_raw/
references/
notebooks/

# Stuff
.ipynb_checkpoints/
.DS_Store
**/__pycache__/*
*.egg-info/
checkpoints
test_come97.ipynb
test.ipynb
